<%= simple_form_for @article do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :url, placeholder: "URL" %>
  <%= f.input :title, placeholder: "Title" %>
  <%= f.input :description, placeholder: "Description" %>

  <%= f.button :submit %>
<% end %>
