<h1><%= @article.title %></h1>

<% if @article.user == current_user %>
  <p><%= link_to "Edit", edit_article_path(@article) %> | <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are your sure?" } %></p>
<% end %>

<h4><%= @article.description %></h4>

<h3>Comments</h3>
<p><%= link_to "Comment", new_article_comment_path(@article) %></p>

  <% @article.comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
