<h1><%= @topic.title %></h1>

<% if @topic.user == current_user %>
  <p><%= link_to "Edit", edit_topic_path(@topic) %> | <%= link_to "Delete", topic_path(@topic), method: :delete, data: { confirm: "Are your sure?" } %></p>
<% end %>

<p><%= link_to "New Comment", new_topic_post_path(@topic) %></p>

<% @posts.each do |post| %>
  <li><%= post.body %> - <%= post.user.username %>
  <% if post.user == current_user %>
    - <%= link_to "Edit", edit_topic_post_path(@topic, post) %> | <%= link_to "Delete", topic_post_path(@topic, post), method: :delete, data: { confirm: "Are your sure?" } %></li>
  <% end %>
<% end %>

<br />
<p><%= link_to "Back", topics_path %></p>
